body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.sidebar {
  padding-top: 30px;
  background: #2f323a;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-property: left;
  transition-property: left;
}

.sidebar .profile_image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 6px solid #fff;
}

.sidebar h2 {
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar #sidebar-items a {
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-property: background;
  transition-property: background;
}

.sidebar #sidebar-items a:hover {
  background: #2fc4b2;
  font-weight: bold;
}

.sidebar i {
  padding-right: 10px;
}

.content {
  margin-left: 250px;
  /* background: url(background.png) no-repeat; */
  /* background-position: center; */
  /* background-size: cover; */
  height: 100vh;
  background-color: #293745;
  color: white;
  overflow-y: auto;
}

#experience .experience_line {
  position: absolute;
  border-right: 5px solid #2e2e2e;
  height: 100%;
  width: 150px;
}

#experience .header {
  background-color: #1b4144;
  color: white;
  padding-left: 270px;
  margin-bottom: 40px;
  font-size: 50px;
}

#experience #position_list .eachexperience {
  margin-bottom: 50px;
}

#experience #position_list .eachexperience .eachcompany .company_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  position: relative;
}

#experience #position_list .eachexperience .eachcompany .company_date .company_name {
  font-family: 'Ubuntu', sans-serif;
  font-size: 35px;
  margin: auto 0 10px 50px;
  font-weight: 100;
}

#experience #position_list .eachexperience .eachcompany .company_date .position_date {
  position: relative;
  border-radius: 100% 100% 0 0;
  background-color: #222831;
  margin: 10px 0 0 105px;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  padding: 10px 5px 0 5px;
}

#experience #position_list .eachexperience .eachcompany .position_container {
  min-height: 75px;
  padding: 10px 0 10px 270px;
  background-color: #2fc4b34f;
}

#experience #position_list .eachexperience .eachcompany .position_container .position_name {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

#experience #position_list .eachexperience .eachcompany .position_container .position_name span {
  font-size: 15px;
  font-weight: 200;
}

#experience #position_list .eachexperience .eachcompany .position_container .position_details {
  padding: 0 100px 10px 0;
}

#experience #position_list .eachexperience .eachcompany .position_container .position_details ul {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
/*# sourceMappingURL=style.css.map */