$accent-color: #2fc4b2;
$sidebar-width: 250;
$navbar-height: 20;
$timeline_line: 150;

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden;
}

.sidebar {
    padding-top: 30px;
    background: #2f323a;
    position: fixed;
    left: 0;
    width: #{$sidebar-width}px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
    z-index: 100;
    .profile_image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 10px;
        border: 6px solid #fff;
    }
    h2 {
        color: #ccc;
        margin-top: 0;
        margin-bottom: 20px;
    }
    #sidebar-items {
        a {
            color: #fff;
            display: block;
            width: 100%;
            line-height: 60px;
            text-decoration: none;
            padding-left: 40px;
            box-sizing: border-box;
            transition: 0.5s;
            transition-property: background;
            &:hover {
                background: $accent-color;
                font-weight: bold;
            }
            &.active {
                text-decoration: line-through;
                font-weight: bold;
            }
        }
    }

    i {
        padding-right: 10px;
    }
    // #sidebar-footer {
    //   height: 50px;
    //   position: absolute;
    //   width: 100%;
    //   bottom: 0;
    //   list-style-type: none;
    //   padding-bottom: 2em;

    //   .switch {
    //     position: relative;
    //     display: inline-block;
    //     width: 60px;
    //     height: 34px;
    //     input {
    //       opacity: 0;
    //       width: 0;
    //       height: 0;
    //     }
    //     .slider {
    //       position: absolute;
    //       cursor: pointer;
    //       top: 0;
    //       left: 0;
    //       right: 0;
    //       bottom: 0;
    //       background-color: #ccc;
    //       -webkit-transition: 0.4s;
    //       transition: 0.4s;
    //       &:before {
    //         position: absolute;
    //         content: '';
    //         height: 26px;
    //         width: 26px;
    //         left: 4px;
    //         bottom: 4px;
    //         background-color: white;
    //         -webkit-transition: 0.4s;
    //         transition: 0.4s;
    //       }
    //       &.round {
    //         border-radius: 34px;
    //         &:before {
    //           border-radius: 50%;
    //         }
    //       }
    //     }
    //   }
    //   .switch-label {
    //     color: white;
    //   }

    //   input:checked + .slider {
    //     background-color: #2196f3;
    //   }

    //   input:focus + .slider {
    //     box-shadow: 0 0 1px #2196f3;
    //   }

    //   input:checked + .slider:before {
    //     -webkit-transform: translateX(26px);
    //     -ms-transform: translateX(26px);
    //     transform: translateX(26px);
    //   }
    // }
}

header {
    margin-left: #{$sidebar-width}px;
    background: #131313;
    color: white;
    padding: 10px 25px 10px 25px;
    height: #{$navbar-height}px;
}
.content {
    margin-left: #{$sidebar-width}px;
    height: 100vh;
    background-color: #293745;
    color: white;
    overflow-y: auto;
}

#experience {
    .experience_line {
        position: absolute;
        border-right: 5px solid rgb(46, 46, 46);
        height: 100%;
        width: #{$timeline_line}px;
        z-index: 1;
    }
    .header {
        background-color: #1b4144;
        color: white;
        padding-left: 270px;
        margin-bottom: 40px;
        font-size: 50px;
    }

    #position_list {
        .eachexperience {
            margin-bottom: 50px;
            .eachcompany {
                position: relative;
                .position_date {
                    position: absolute;
                    border-radius: 100%;
                    border: 1px solid white;
                    background-color: #222831;
                    margin: 10px 0 0 100px;
                    width: 80px;
                    height: 80px;
                    display: flex;
                    flex-flow: column wrap;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    color: white;
                    padding: 10px;
                    z-index: 3;
                }

                .company_name {
                    font-family: 'Ubuntu', sans-serif;
                    font-size: 35px;
                    margin: auto 0 10px 270px;
                    font-weight: 100;
                }

                .position_container {
                    min-height: 75px;
                    padding: 10px 0 10px 270px;
                    background-color: #2fc4b34f;
                    z-index: 2;
                    .position_name {
                        font-family: 'Ubuntu', sans-serif;
                        font-size: 20px;
                        font-weight: 600;
                        span {
                            font-size: 15px;
                            font-weight: 200;
                        }
                    }
                    .position_details {
                        padding: 0 100px 10px 0;
                        ul {
                            margin-block-start: 0;
                            margin-block-end: 0;
                        }
                    }
                }
            }
        }
    }
}

$burgerWidth: 50px;
$burgerHeight: 5px;
.menu-container {
    height: 10px;
    .menu-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: $burgerWidth;
        height: $burgerWidth;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        .menu-btn__burger {
            width: $burgerWidth;
            height: $burgerHeight;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
            transition: all 0.5s ease-in-out;
            &::before,
            &::after {
                content: '';
                position: absolute;
                width: $burgerWidth;
                height: $burgerHeight;
                background: #fff;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
                transition: all 0.5s ease-in-out;
            }
            &::before {
                transform: translateY(-16px);
            }
            &::after {
                transform: translateY(16px);
            }
        }

        /* ANIMATION */
        &.open .menu-btn__burger {
            transform: translateX(-50px);
            background: transparent;
            box-shadow: none;
            &::before {
                transform: rotate(45deg) translate(35px, -35px);
            }
            &::after {
                transform: rotate(-45deg) translate(35px, 35px);
            }
        }
    }
}
